<div class="formDiv" *ngIf="displayDialog">
  

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
      <label>
          Id:
          <input type="number" formControlName="id" required>
        </label>
      <label>
        First Name:
        <input type="text" formControlName="firstName" required>
      </label>
    
      <label>
       Email:
        <input type="email" formControlName="email">
      </label>
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
        
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
    
      <label>
        Zip Code:
        <input type="number" formControlName="zip">
      </label>
      <!-- <p>
          {{ profileForm.value | json }}
      </p> -->
    
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>

  
  <p-table [columns]="cols" [value]="users" sortMode="multiple" #dt  [paginator]="true" [rows]="5" >
    <ng-template pTemplate="caption">
  Users List
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
        <tr [pSelectableRow]="user">
            <td *ngFor="let col of columns">
                {{user[col.field]}}
            </td>
        </tr>
    </ng-template>
  </p-table>
  
  <a href="#" (click)="showDialogToAdd()" class="btn button">+Add User</a>
